<div class="card"
     *ngIf="vm$ |async as vm">
  <div class="card-header">
    {{ vm.pageTitle }}
  </div>

  <div class="card-body"
    *ngIf='vm.character'>
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{ vm.character.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code:</div>
      <div class="col-md-6">{{ vm.character.status}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category:</div>
      <div class="col-md-6">{{ vm.character.species }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Image:</div>
      <div class="col-md-6">
        <img
              [src]='vm.character.image' 
              [title]='vm.character.name' ></div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="vm.characterSuppliers; else noSuppliers">
        <thead>
          <tr>
            <th>More Info</th>
            <th>More</th>
            <th>More Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of vm.characterSuppliers">
            <td>{{ supplier }}</td>
            <td>{{ supplier.cost | currency: "USD":"symbol":"1.2-2" }}</td>
            <td>{{ supplier.minQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noSuppliers>
    <div class="alert alert-warning">
      No suppliers for character
    </div>
  </ng-template>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>