<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3">
          <select class="form-control"
                  (change)="onSelected($any($event.target).value)">
            <option value="0">- Display All -</option>
            <option *ngFor="let type of types$ | async"
                    [value]="type.type">{{ type.type}}</option>
          </select>
        </div>
  
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="characters$ |async as characters ">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Specie</th>
            <th>Status</th>
            <th>Image</th>
            <th>Type Location</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters">
            <td>{{ character.id }}</td>
            <td>{{ character.name }}</td>
            <td>{{ character.species}}</td>
            <td>{{ character.status }}</td>
            <td>
              <img
              [src]='character.image' 
              [title]='character.name'
              [style.width.px]='imageWidth'>

          </td>
          <td>{{ character.typeLocation }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage$ |async as errorMessage">
  {{ errorMessage }}
</div>